<div class="row index-form">
  <div class="col-md-6 offset-md-3">
    <%= form_with(model: list, local: true, class: 'form-inline') do |form| %>
    <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="form-group mx-sm-3 mb-2">
      <%= form.text_field :description, id: :list_description, class: 'form-control', placeholder: 'Todo item' %>
    </div>

    <%= form.submit 'Add Todo Item', class: 'btn btn-primary mb-2' %>
    <% end %>
  </div>
</div>
